body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 24px;
  background-color: #f4f4f4;
}

.header {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-image {
  display: block;
  margin: 0 auto 20px auto;
  height: auto;
  border-radius: 12px;
}

ul {
  list-style-type: square;
}